<div class="controls">
</div>

<div class="collection">
  <div class="modal">
  </div>

  <div class="add_set">
    <%= form_for(CollectingSet.new, remote: true) do |form| %>
      <input name="set" id="set" />
      <%= form.submit "Track" %>
    <% end %>
    <a href="#" class="cancel">Cancel</a>
  </div>

  <div class="inner">
    <div class='collecting_sets'>
      <%= render @collecting_sets %>
      <div class="add_more">
        <div class="info">
          <div>Track another set</div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(function() {
    var availableTags = <%== @uncollecting_sets.map(&:name).to_json %>;
    $("#set").autocomplete({ source: availableTags });
    $(".add_more").click(function() {
      $(".modal, .add_set").show();
    });
    $(".cancel").click(function() {
      $(".modal, .add_set").hide();
    });
  });
</script>
