<%= form_for(CollectingSet.new, remote: true) do |form| %>
  <input name="set" id="set" />
  <%= form.submit "Track" %>
<% end %>

<div class='collecting_sets'>
  <%= render @collecting_sets %>
</div>

<script type="text/javascript">
  $(function() {
    var availableTags = <%== @uncollecting_sets.map(&:name).to_json %>;
    $("#set").autocomplete({ source: availableTags });
  });
</script>
