<div class="collecting_set">
  <div class="info">
    <div>{{#linkTo "collecting_set" collecting_set}}{{collecting_set.name}}{{/linkTo}}</div>
    <div>{{collecting_set.collected_cards_count}}/{{collecting_set.full_count}}</div>
  </div>
</div>
