html, body {
  height: 100%;
}

.home {
  width: 600px;
  margin: 0 auto;
  background-color: #EEE;
  padding: 20px;
  margin-top: 40px;
  p {
    margin-bottom: 20px;
  }
}

body, div, form, input, p, h2 {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neueu", "Helvetica", sans-serif;
}
.collecting_set {
  position: relative;
  .info {
    margin-top: 100px;
  }
  .remove {
    position: absolute;
    top: 0;
    right: 0;
  }
  background: #333;
  color: #CCC;
  a {
    color: #FFF;
    text-decoration: none;
  }
  width: 175px;
  height: 248px;
  margin: 5px 10px;
  border: 1px solid #000;
  display: inline-block;
  box-shadow: 1px 1px 3px #333;
  text-align: center;
}

.card_version {
  width: 14.00%;
  display: inline-block;
  img {
    box-shadow: 1px 1px 3px #333;
  }
  button {
    border: none;
    background: transparent;
  }
}

a.active {
  color: #000;
  font-weight: bold;
  background-color: #FEE;
}

div.card_version.collected {
  display: none;
}

div.card_version.advanced {
  display: none;
}

div.card_version.advanced.collected {
  display: inline-block;
}

div.card_version.hide {
  display: none;
}

.advanced_bar {
  display: none;
}

.controls {
  width: 12%;
  border-right: 1px solid #777;
  float: left;
  top: 0;
  position: fixed;
  background: #EEE;
  height: 100%;
  .inner {
    padding: 10px;
  }
}

.collection {
  width: 88%;
  min-height: 100%;
  float: right;
  background-color: #999;
  .inner {
    margin: 0 auto;
  }
}
